$primary : #28104E;
$secondary: #A166FF;
$tertiary : #B485FF;
// $tertiary : #ffffff;

$border-thikness: 1px;


$dark-purple: #2E193E;
$light-purple: rgba(123, 97, 255, 0.05);
$yellow: #FFCF2B;
$grey: #848484;
$color-white: #fff;
$color-black: #000;

$font-xxs: 14px; 
$font-xs: 16px;
$font-sm: 19px;
$font-md: 22px;
$font-lg: 24px;
$font-xl: 30px;
$font-xxl: 36px;
$font-xxxl: 64px;


$border-radius-btn: 62px;
$border-radius-box-xs:7px;
$border-radius-box-sm:10px;
$border-radius-box-md:28px;
$border-radius-box-lg:32px;



$base-padding: 10px;

$box-shadow-dark: 0px 25px 36px -8px rgba(123, 97, 255, 0.21);